HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Gradle
.gradle/
build/

# Docker
*.jar
*.war

# H2 Database Files
data/

# 기타 OS별 임시 파일
*.log
.DS_Store
Thumbs.db
